[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/klaustopher/dotbot-brew.git
[submodule "dotbot-rust"]
	path = dotbot-rust
	url = https://github.com/ShoMinamimoto/dotbot-rust.git
