{
  "version": 3,
  "lines": [
    [
      {
        "id": "model",
        "type": "model",
        "color": "cyan"
      },
      {
        "id": "9cdb1bdf-7c7d-4eb7-8eea-fdefb2c94bb6",
        "type": "separator"
      },
      {
        "id": "830830c4-df6d-4e33-9682-bd380e0e9e09",
        "type": "git-root-dir"
      },
      {
        "id": "0a63b4b3-869d-419b-9322-549e098f92ab",
        "type": "separator"
      },
      {
        "id": "3606f863-db89-48b8-aac3-cdafcb1c69a3",
        "type": "git-branch"
      },
      {
        "id": "separator-1",
        "type": "separator"
      },
      {
        "id": "context-bar",
        "type": "context-bar",
        "color": "green"
      },
      {
        "id": "96cc872d-28b6-4af0-8663-c82a5bd71eae",
        "type": "separator"
      },
      {
        "id": "ccusage-cost",
        "type": "custom-command",
        "commandPath": "~/.claude/ccusage-cost.sh",
        "preserveColors": false,
        "timeout": 8000
      }{{ if (index . "hasClaudeSubscription" | default false) }},
      {
        "id": "d8471ce5-37e0-4aa9-9eac-d4ff697456af",
        "type": "separator"
      },
      {
        "id": "3ef04e4b-c1f9-4a27-9650-a1238a6cdd66",
        "type": "session-usage"
      },
      {
        "id": "892e1bea-2211-4bca-8ee1-f43b663f6e42",
        "type": "separator"
      },
      {
        "id": "e5e408a9-174e-4942-8d30-d3344240210e",
        "type": "weekly-usage"
      },
      {
        "id": "56981f72-2ca8-4bd3-8bdc-acd6ddced1f4",
        "type": "separator"
      },
      {
        "id": "c8cb2dcd-31cf-4d45-a342-0cdda1feab9b",
        "type": "reset-timer"
      }{{ end }}
    ]
  ],
  "flexMode": "full-until-compact",
  "compactThreshold": 60,
  "colorLevel": 3,
  "inheritSeparatorColors": false,
  "globalBold": false,
  "powerline": {
    "enabled": false,
    "separators": [
      ""
    ],
    "separatorInvertBackground": [
      false
    ],
    "startCaps": [],
    "endCaps": [],
    "autoAlign": false
  }
}
